EjercicioJAXB/src/marcas/corazonesReunidos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Corazoncitos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Persona">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:unsignedShort" />
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="sexo" type="xs:string" />
              <xs:element name="sexoBuscado" type="xs:string" />
              <xs:element name="fechaNacimiento" type="xs:date" />
              <xs:element name="ingresos" type="xs:decimal" />
              <xs:element name="Preferencias">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Gusto">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Descripcion" type="xs:string" />
                          <xs:element name="Valor" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>